<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      {{satellite.flight_number}}
      {{satellite.name}}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-thumbnail>
      <a [href]="satellite.links.patch.large" target="_blank">
        <ion-img
          [src]="satellite.links.patch.large"
        >
        </ion-img>
      </a>
    </ion-thumbnail>
    <ion-label>
      {{satellite.details}}
    </ion-label>
    <a [href]="satellite.links.aritcle" target="_blank">
      <ion-button>Read More</ion-button>
    </a>
  </ion-card-content>
</ion-card>
